$container-width: 950px;
$main-fontsize: 18px;
$regular: #FEDB3F;
$hover: #FFD517;
$white: #FFF;
$grey: #666;
$black: #000;
$blackish: #292929;
$whitish: #F2F5F4;
$profile:  #F8FAF9;
$socials: #B3B3B3;
$header: #1968B1;
$area: #ECECEC;
$char: #3A587E;
$price: #151515;
$char-hover: #3465A3;
$player: #404040;

$tablet: 768px;
$phone: 480px;

$z-scroll: 100;

@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap");

@import "./media";

@import "./components/layout";

@import "./components/welcome";

@import "./components/header";

@import "./components/content";

@import "./components/button";

@import "./components/button";

@import "./components/perks";

@import "./components/why";

@import "./components/reason";

@import "./components/benefits";

@import "./components/comments";

@import "./components/profile";

@import "./components/users";

@import "./components/users-active-icon";

@import "./components/order";

@import "./components/form";

@import "./components/radio";

@import "./components/scroll";

@import "./components/title";

@import "./components/find";

@import "./components/footer";

@import "./components/contacts";

@import "./components/burger";

@import "./components/shop";

@import "./components/goods";

@import "./components/good-item";

@import "./components/overlay";

@import "./components/team";

@import "./components/team-list";

@import "./components/modal";

@import "./components/products";

@import "./components/player";