.button {
  padding: rem(21px) rem(41px);
  border-radius: 100px;
  font-size: rem(16px);
  font-weight: 800;
  color: $black;
  border: none;
  &--regular {
    background-color: $regular;
    transition: .5s;
    &:hover {
      background-color: $hover;
      transition: .5s;
    }
  }
  &--reset {
    font-weight: 400;
    background: transparent;
    text-transform: none;
    color: $white;
    padding: 0;
    margin-left: rem(22px);
    transition: .5s;
    &:hover {
      color: $regular;
      transition: .5s;
    }
  }

  @include phone {
    font-size: rem(19px);
    .button--header {
      padding: rem(21px) rem(36px);
    }
  }
}