.comments {
  background-color: $white;
  height: 100vh;
  min-height: 652px;
  color: $blackish;
  }

.comments__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 58px 0 63px;
}