.content {
  margin-bottom: rem(64px);

  @include tablet {
    margin-bottom: rem(265px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @include phone {
    margin-bottom: rem(450px);
  }
}

.content__title {
  padding: 0 48% 0 0;
  font-size: rem(48px);
  font-weight: 700;
  line-height: rem(58px);
  text-transform: uppercase;
  margin-bottom: rem(17px);

  @include tablet {
    padding: 0 6%;
    text-align: center;
    margin-bottom: rem(9px);
  }

  @include phone {
    padding: 0;
    text-align: center;
    margin-bottom: rem(12px);
    line-height: rem(45px);
  }

}

.content__info {
  font-size: rem(21px);
  font-weight: 400;
  margin-bottom: rem(34px);

  @include tablet {
    margin-bottom: rem(44px);
  }

  @include phone {
    font-size: rem(18px);
    margin-bottom: rem(44px);
  }
}