.content {
  margin-bottom: 64px;
}

.content__title {
  max-width: 496px;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.content__info {
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 34px;
}