.find {
  background-color: $white;
  color: $blackish;
  height: 100vh;
  min-height: rem(745px);
  }

  .find__map {
    background: url(../pics/map.png) center center no-repeat;
    height: 100%;
    position: relative;
  }