.form {
  display: flex;
  font-weight: 400;
}

.form__column {
  flex: 1;
  margin-right: 27px;
  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0;
  }
}

.form__box {
  flex: 1;
  margin-right: 17px;
  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 18px 12px;
  border: solid 3px transparent;
  &:focus {
    border-color: $hover;
    outline: none;
  }
  &--textarea {
    height: 152px;
    resize: none;
    margin-bottom: 21px;
  }
}

.form__buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form__order {
  margin-top: 47px;
}