.goods {
  position: relative;

  .bx-wrapper {
    background: transparent;
    border: 0;
    box-shadow: none;
  }
}

.goods__slider {
  width: 100%;
  top: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;

  .goods__slider-arrow {
    background: url("../pics/left.svg") center center no-repeat;
    width: 24px;
    height: 40px;

    &--right {
      transform: rotate(-180deg);
    }
  }

  @include tablet {
    padding: 0 17%;
    top: 31%;
  }

  @include phone {
    padding: 0;
    top: 25%;
  }
}