.order {
  background: url(../pics/surf2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100vh;
  min-height: 652px;
  color: $white;
  }

.order__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 62px 0 85px;
}

.order-title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 59px;
  text-align: center;
}