.reason {
  margin-bottom: rem(49px);

  @include phone {
    margin-bottom: rem(53px);
  }
}

.reason__info {
  text-align: center;
  font-weight: 400;
  color: $grey;
  padding: 0 21.5%;
  line-height: rem(23px);

  @include phone {
    padding: 0 7%;
  }
}