.users-active {
  width: 74px;
  height: 74px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  &--active {
    border-color: $regular;
  }
}

.users__link {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}