.welcome {
  background: url(../pics/surf1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  min-height: rem(652px);
  color: $white;
  
  @include tablet {
    background-color: $header;
    background-position: top rem(94px) right rem(-142px);
  }
  @include phone {
    background-color: $header;
    background-position: top rem(94px) right rem(-245px);
  }
  }

.welcome__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}