.why {
  background-color: $white;
  height: 100vh;
  min-height: rem(652px);
  color: $blackish;
  }

.why__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}