.why {
  background-color: $white;
  height: 100vh;
  min-height: 652px;
  color: $blackish;
  }

.why__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 105px 0 112px;
}